body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 150px;
}

p{
    text-align: center;
    margin-top: 10px;

}

form {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    animation: slide-in 0.7s ease-out;
    text-align: center;
}

@keyframes slide-in {
    0% {
      transform: transform(-50%,-100%);
      scale: 0.5;
      opacity: 0; /* Start off the screen to the left */
    }
    100% {
        scale: 1;
      transform: transform(-50%,-50%);
      opacity: 1; /* Slide into view */
    }
  }

label {
    display: block;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 50%;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    align-items: center;
    margin-left: 25%;
    margin-right: 50%;
    width: 50%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
.text-3d {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #333, 4px 4px 0 #222, 6px 6px 0 #111;
    transform: perspective(400px) rotateX(25deg);
  }
